# Build
DotnetJwtPractice/bin/
DotnetJwtPractice/obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# VS Code local settings
.vscode/

# Local development settings
DotnetJwtPractice/Properties/launchSettings.json
DotnetJwtPractice/appsettings.Development.json